<ion-header>
    <pageHeaderMobile #pageHeaderMobile showWhen="mobile"></pageHeaderMobile>
    <pageHeader [pageTitle]="pageTitle" #pageHeader hideWhen="mobile"></pageHeader>
</ion-header>

<ion-content class="home">
    <modalMessage *ngIf="messageModalShown" [actions]="actions" [active]="messageModalShown" [content]="messageContent"></modalMessage>

    <div *ngIf="errMessages" class="ui error message">
        <div id="messageLbl" *ngFor="let errMessage of errMessages">{{errMessage?.errorDescription}}</div>
    </div>

    <div class="html ui top attached segment" style="border:0">
        <dataGrid [data]="students" [columns]="columns" [pageInfo]="pageInfo" (onPaging)="onPagingEvent($event)" (onSorting)="onRefresh($event)"
            (onFiltering)="onRefresh($event)" (onPageSizeChange)="onRefresh($event)" (onRowDoubleClick)="onRowDoubleClick($event)"></dataGrid>
    </div>

</ion-content>