<ion-header>
    <pageHeaderMobile #pageHeaderMobile showWhen="mobile"></pageHeaderMobile>
    <pageHeader [pageTitle]="pageTitle" #pageHeader hideWhen="mobile"></pageHeader>
</ion-header>

<ion-content class="home" padding>
        <br>

        <div class="ui doubling three column grid">
            <div class="column clickable" (click)="registerStudent()"><i class="add user icon" id="registerStudentIcon"></i>Register Student</div>
            <div class="column clickable" (click)="sendFunds()"><i class="money icon" id="sendFundsIcon"></i>Send Funds</div>
            <div class="column clickable" (click)="showDashboard()"><i class="bar chart icon" id="dashboardIcon"></i>Dashboard</div>
        </div>

        <br><br><br>

        <div class="ui doubling three column grid">
            <div class="column clickable" (click)="myRegisteredStudents()"><i class="users icon" id="registeredStudentsIcon"></i>My Registered Students</div>
            <div class="column clickable" (click)="faculties()"><i class="registered icon" id="facultiesIcon"></i>Add Faculty</div>
            <div class="column clickable" (click)="association()"><i class="linkify icon" id="facultyAssociationIcon"></i>Faculty Association</div>
        </div>

        <br><br><br>

        <div class="ui doubling three column grid">
            <div class="column clickable" (click)="createMember()"><i class="add user icon" id="createMemberIcon"></i>Add Organization</div>
            <div class="column clickable" (click)="createUser()"><i class="add user icon" id="createMemberUserIcon"></i>Add Organization User</div>
            <div class="column clickable" (click)="createApplicationUser()"><i class="add user icon" id="createApplicationUserIcon"></i>Add Application User</div>
        </div>
        
        <br><br><br>

        <div class="ui doubling three column grid">
            <div class="column clickable" (click)="aggregations()"><i class="add user icon" id="monitorAppliedLoans"></i>Monitor Applied Loans</div>
        </div>
</ion-content>