<ion-header>
	 <pageHeaderMobile #pageHeaderMobile showWhen="mobile" [showProfile]=true></pageHeaderMobile>
</ion-header>
<ion-content class="home">
    <!--<div class="ui two cards" style="padding: 25px;">
        <div class="ui card">
            <div class="content"  style="background-color:#F0F0F0 ; text-align: center;cursor: pointer; cursor: hand;">
                <div class="header"><div class="center"><i class="center money icon"></i></div></div>
                <div class="description" style="font-size:.7em">
                    My Loans
                </div>
            </div>
        </div>
        <div class="ui card">
            <div class="content" style="background-color:#F0F0F0 ; text-align: center; cursor: pointer; cursor: hand;" (click)="eligibleLoans()">
                <div class="header"><i class="search icon"></i></div>
                <div class="description" style="font-size:.7em">
                    Find Eligible Loans
                </div>
            </div>
        </div>
    </div>-->
</ion-content>