<ion-item *ngIf="studentScholarshipData.viewed!=viewedType.SUBMITTED" class="clickable" [ngClass]="{'viewed':studentScholarshipData.viewed == viewedType.VIEWED,'transaction-failed': studentScholarshipData.transactionState?.state == OfferTransactionState.failed}"
    (click)="delegateFunction(position)">
    <div *ngIf="userType==UserType.Organization.toString() || userType==UserType.EIUser.toString()" item-inner>
        <table width="100%" class="dh-table">
            <tr>
                <td>
                    <h3 [id]="'scholarshipNameTxt'+position" class="ui header green">{{studentScholarshipData.scholarshipName}}</h3>
                </td>
                <td align="right">
                    <a class="ui blue label small">{{studentScholarshipData.viewed==viewedType.VIEWED? 'Viewed': 'Pending'}}</a>
                    <a class="ui red label small" *ngIf="studentScholarshipData.scholarship.info.status == 'Closed'">Closed</a>
                </td>
            </tr>
            <tr>
                <td>
                    <font size="2">
                        <table *ngFor="let field of fields" class="inner-table">
                            <tr>
                                <td [id]="field.id + position">
                                    {{field.text}} : {{getFieldContent(field)}}
                                </td>
                            </tr>
                        </table>
                    </font>
                </td>
                <td align="right"><i class="ui angle double right icon"></i></td>
            </tr>
        </table>
    </div>
    <div *ngIf="userType==UserType.Student.toString()" item-inner>
        <table width="100%" class="dh-table">
            <tr>
                <th align="left">
                    {{fields[0].text}}
                </th>
                <th align="left">
                    {{fields[1].text}}
                </th>
            </tr>

            <tr>
                <td [id]="fields[0].id" align="left">
                    {{getFieldContent(fields[0])}}
                </td>
                <td [id]="fields[1].id" align="left">
                    {{getFieldContent(fields[1])}}
                </td>
            </tr>

            <tr>
                <td [id]="fields[2].id">
                    <ion-icon ios="ios-clock-outline" md="ios-clock-outline"></ion-icon>
                    {{dateSentence}}:{{getFieldContent(fields[2])}}
                </td>
                <td *ngIf="studentScholarshipData.transactionState?.state">
                    <b>State: {{studentScholarshipData.transactionState.state}}</b>
                </td>
            </tr>

        </table>
    </div>
</ion-item>