

    <!-- <ion-title>
      <img src="./assets/images/loolky-logo.png" alt="loolky" id="logoImg">
    </ion-title> -->


  <div class="ui inverted menu  page" style="padding:0px 10px; margin:0px 0px 0px 0px; border-radius:0px; height:75px; width:100%">>

    <div class="ui container">
      <a href="#" class="header item">
        <img class="logo" src="../../assets/images/loolky-logo.png" style="height: 5em; width: 5em;" >
        
      </a>
      <a href="#" class="item">Home</a>
      <div class="ui simple dropdown item">
        Dropdown <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#">Link Item</a>
          <a class="item" href="#">Link Item</a>
          <div class="divider"></div>
          <div class="header">Header Item</div>
          <div class="item">
            <i class="dropdown icon"></i> Sub Menu
            <div class="menu">
              <a class="item" href="#">Link Item</a>
              <a class="item" href="#">Link Item</a>
            </div>
          </div>
          <a class="item" href="#">Link Item</a>
        </div>
      </div>
    </div>
  </div>
