<!-- <ion-title>
      <img src="./assets/images/loolky-logo.png" alt="loolky" id="logoImg">
    </ion-title> -->
<div class="ui menu page brown">
  <div id="container1" class="ui container">
    <a href="#" class="header item">
        <img class="logo" src="../../assets/images/loolky-logo.png" style="height: 5em; width: 10em;" >
        </a>
    <a class="browse item" #menuPopup1>
    Loolkers' Reviews
    <i class="dropdown icon"></i>
  </a>
    <div id="popup1" class="ui fluid popup bottom left transition hidden" style="top: 6px; left: 1px; bottom: auto; right: auto; width: 500px;">
      <div class="ui four column divided width grid">
        <div class="column" style="width: 175px">
          <h4 class="ui header">Women</h4>
          <div class="ui link list">
            <a class="item">Dresses</a>
            <a class="item">Tops</a>
            <a class="item">Trousers & Leggins & Shorts</a>
            <a class="item">Shoes</a>
            <a class="item">Swimwear</a>
            <a class="item">Accessories</a>
            <a class="item">Lingerie & Sleepwear</a>
            <a class="item">Coats & Jackets</a>
          </div>
        </div>
        <div class="column" style="width: 150px">
          <h4 class="ui header">Man</h4>
          <div class="ui link list">
            <a class="item">Shirts</a>
            <a class="item">Trousers</a>
            <a class="item">Shoes</a>
            <a class="item">Coats & Jackets</a>
            <a class="item">Swimwear</a>
            <a class="item">Underwear</a>
            <a class="item">Accessories</a>

          </div>
        </div>
        <div class="column" style="width: 100px">
          <h4 class="ui header">Kids</h4>
          <div class="ui link list">
            <a class="item">Baby</a>
            <a class="item">Girls</a>
            <a class="item">Boys</a>
          </div>
        </div>
        <div class="column" style="width: 150px">
          <h4 class="ui header">Homewear</h4>
          <div class="ui link list">
            <a class="item">Knitwear</a>
            <a class="item">Outerwear</a>
            <a class="item">Pants</a>
            <a class="item">Shoes</a>
          </div>
        </div>
      </div>
    </div>

    <a class="browse item" #menuPopup2>
    Loolkers' Sales
    <i class="dropdown icon"></i>
  </a>
    <div class="ui fluid popup bottom left transition hidden" style=" top: 554.6px; left: 1px; bottom: auto; right: auto; width: 500px;">
      <div class="ui four column relaxed divided grid">
        <div class="column" >
          <h4 class="ui header">Women</h4>
          <div class="ui link list">
            <a class="item">Dresses</a>
            <a class="item">Tops</a>
            <a class="item">Trousers & Leggins & Shorts</a>
            <a class="item">Shoes</a>
            <a class="item">Swimwear</a>
            <a class="item">Accessories</a>
            <a class="item">Lingerie & Sleepwear</a>
            <a class="item">Coats & Jackets</a>
          </div>
        </div>

        <div class="column">
          <h4 class="ui header">Women</h4>
          <div class="ui link list">
            <a class="item">Dresses</a>
            <a class="item">Tops</a>
            <a class="item">Trousers & Leggins & Shorts</a>
            <a class="item">Shoes</a>
            <a class="item">Swimwear</a>
            <a class="item">Accessories</a>
            <a class="item">Lingerie & Sleepwear</a>
            <a class="item">Coats & Jackets</a>
          </div>
        </div>

        <div class="column">
          <h4 class="ui header">Women</h4>
          <div class="ui link list">
            <a class="item">Dresses</a>
            <a class="item">Tops</a>
            <a class="item">Trousers & Leggins & Shorts</a>
            <a class="item">Shoes</a>
            <a class="item">Swimwear</a>
            <a class="item">Accessories</a>
            <a class="item">Lingerie & Sleepwear</a>
            <a class="item">Coats & Jackets</a>
          </div>
        </div>

        <div class="column">
          <h4 class="ui header">Women</h4>
          <div class="ui link list">
            <a class="item">Dresses</a>
            <a class="item">Tops</a>
            <a class="item">Trousers & Leggins & Shorts</a>
            <a class="item">Shoes</a>
            <a class="item">Swimwear</a>
            <a class="item">Accessories</a>
            <a class="item">Lingerie & Sleepwear</a>
            <a class="item">Coats & Jackets</a>
          </div>
        </div>


      </div>
    </div>

    <a class="item">
    <i class="cart icon"></i>
    Checkout
  </a>
  </div>
</div>


<!-- <div class="ui inverted menu page" style="padding:0px 10px; margin:0px 0px 0px 0px; border-radius:0px; height:75px; width:100%">>

    <div class="ui container">
      <a href="#" class="header item">
        <img class="logo" src="../../assets/images/loolky-logo.png" style="height: 5em; width: 5em;" >
        
      </a>
      <a  class="item">Home</a>
      <div #dropDown class="ui simple dropdown item">
        Dropdown <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#">Link Item</a>
          <a class="item" href="#">Link Item</a>
          <div class="divider"></div>
          <div class="header">Header Item</div>
          <div class="item">
            <i class="dropdown icon"></i> Sub Menu
            <div class="menu">
              <a class="item" href="#">Link Item</a>
              <a class="item" href="#">Link Item</a>
            </div>
          </div>
          <a class="item" href="#">Link Item</a>
        </div>
      </div>
    </div>
  </div>

   <div #descriptionAccordion class="ui accordion field-content">
  <div class="title field-content">
    <label class="field-content">description<a>&nbsp;&nbsp;<i>read more...</i></a></label>
  </div>
  <div class="content field-content">
    <div class="transition hidden field-content">description.</div>
  </div>
</div>  -->