<ion-header>
    <pageHeaderMobile #pageHeaderMobile [hideNavigations]="pageHeaderBlockNavigation" showWhen="mobile"></pageHeaderMobile>
    <pageHeader [pageTitle]="pageTitle" [hideNavigations]="pageHeaderBlockNavigation" #pageHeader hideWhen="mobile"></pageHeader>
</ion-header>

<ion-content class="home">
    <modalMessage *ngIf="messageModalShown" [actions]="actions" [active]="messageModalShown" [content]="messageContent"></modalMessage>

    <div class="ui error small form segment">
        <form [formGroup]="changePasswordForm" class="ui medium form">
            <div *ngIf="messages" class="ui error message">
                <div id="messageLbl" *ngFor="let message of messages">{{message.errorDescription}}</div>
            </div>
            <div [ngClass]="isMobile? 'fluid' : 'four wide'">
                <div class="field required">
                    <label>Old password</label>
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" id="oldPassword" class="form-control" [(ngModel)]="changePassword.oldPassword" formControlName="oldPassword">
                    </div>
                    <div *ngIf="changePasswordForm.controls['oldPassword'].touched && !changePasswordForm.controls['oldPassword'].valid" class="ui red pointing above ui label">{{validationErrorMessage}} old password</div>
                </div>

                <div class="field required">
                    <label>New password</label>
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" id="newPassword" class="form-control" [(ngModel)]="changePassword.newPassword" formControlName="password">
                    </div>
                    <div *ngIf="changePasswordForm.controls['password'].touched && !changePasswordForm.controls['password'].valid" class="ui red pointing above ui label">{{validationErrorMessage}} password</div>
                    <!--TODO: refactor the conditions for the error cases-->
                    <div *ngIf="changePasswordForm.invalid && changePasswordForm.controls['password'].valid && changePasswordForm.controls['oldPassword'].valid && changePassword.oldPassword==changePassword.newPassword"
                        class="ui red pointing above ui label">{{passwordNewDifferentFromOld}}</div>
                </div>

                <div class="field required">
                    <label>Confirm password</label>
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" id="confirmPassword" class="form-control" [(ngModel)]="changePassword.confirmPassword" formControlName="rePassword">
                    </div>
                    <!--TODO: refactor the conditions for the error cases-->
                    <div *ngIf="changePasswordForm.invalid && changePasswordForm.controls['rePassword'].valid && changePasswordForm.controls['password'].valid && changePassword.confirmPassword!=changePassword.newPassword"
                        class="ui red pointing above ui label">{{passwordDontMatchMessage}}</div>

                    <div *ngIf="changePasswordForm.controls['rePassword'].touched && !changePasswordForm.controls['rePassword'].valid" class="ui red pointing above ui label">{{validationErrorMessage}} confirm password</div>
                </div>
            </div>

            <div class="ui secondary segment compact" [ngClass]="{'tiny': isMobile}" padding>
                <div *ngFor="let passwordRuleMsg of passwordRulesMessageArr">{{passwordRuleMsg}}</div>
            </div>

            <button id="changePasswordBtn" class="ui blue submit small button" (click)="onSubmit()">Change Password</button>
        </form>

    </div>
</ion-content>