<ion-header>
    <pageHeaderMobile #pageHeaderMobile showWhen="mobile"></pageHeaderMobile>
    <pageHeader [pageTitle]="pageTitle" #pageHeader hideWhen="mobile"></pageHeader>
</ion-header>

<ion-content class="home">
    <div class="ui error small form segment" style="margin: 0px 0px 0px 0px; border-radius: 0px;">
        <form [formGroup]="form" class="ui medium form" #f="ngForm">
            <div class="two fields">
                <div class="field">
                    <label>Account Address</label>
                    <input type="text" id="addressTxt" [(ngModel)]="address" class="form-control disabled" formControlName="address">
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Balance</label>
                    <!--<input type="text" id="balanceTxt" [(ngModel)]="balance" class="form-control disabled" formControlName="balance"> 
                    <label>ETHER</label>-->
                </div>
            </div>
            <div class="two inline fields">
                <div class="six wide field">
                    <input type="text" id="balanceTxt" [(ngModel)]="balance" class="form-control disabled" formControlName="balance">
                    <label class="ether">ETHER</label>
                </div>
            </div>
            <button class="ui blue submit button small" id="closeBtn" (click)="close()">Close</button>
            <div *ngIf="message" class="ui error message">
                <div id="messageLbl" class="header">{{ message }}</div>
            </div>
        </form>
    </div>
</ion-content>