<ion-item [hidden]="loanTypeData.viewed==viewedType.SUBMITTED" class="clickable" [ngClass]="{'viewed':loanTypeData.viewed==viewedType.VIEWED,
    'clickable' : loanTypeData.info.status!='Closed'}" (click)="loanTypeData.info.status!='Closed' ? delegateFunction(position) :'' ">
    <!-- Template for SAVED loan types -->
    <div *ngIf="LoanTypeStripMode.SAVED==loanTypeStripMode" item-inner>
        <table width="100%" class="dh-table">
            <tr>
                <th align="left">
                    Name
                </th>
                <th align="left">
                    Deadline
                </th>
                <td align="right" class="padding-right">
                    <ion-icon *ngIf="!hideheart" [id]="loanTypeData.saved? 'saved': 'unSaved'" class="column clickable" [name]="loanTypeData.saved? 'heart': 'heart-outline'"
                        color="favorite" (click)="onSaveOrUnsave($event, loanTypeData.saved)"></ion-icon>
                </td>
            </tr>
            <tr>
                <td [id]="fields[0].id + position" align="left">
                    {{getFieldContent(fields[0])}}
                </td>
                <td [id]="fields[1].id + position" align="left">
                    {{getFieldContent(fields[1])}}
                </td>
            </tr>
            <tr>
                <td [id]="fields[2].id + position">
                    <ion-icon ios="ios-clock-outline" md="ios-clock-outline"></ion-icon> {{dateSentence}}:{{getFieldContent(fields[2])}}
                </td>
            </tr>
        </table>
    </div>
    <!-- Template for ELIGIBLE loan types -->
    <div *ngIf="LoanTypeStripMode.ELIGIBLE==loanTypeStripMode" item-inner>
        <table width="100%" class="dh-table">
            <tr>
                <td>
                    <h3 [id]="'loanNameTxt'+position" class="ui header green">{{loanTypeData.info.name}}</h3>
                </td>
                <td align="right" class="padding-right">
                    <a class="ui blue label small" *ngIf="loanTypeData.viewed==viewedType.VIEWED">Viewed</a>
                    <ion-icon *ngIf="!hideheart" [id]="loanTypeData.saved? 'saved': 'unSaved'" class="column clickable" [name]="loanTypeData.saved? 'heart': 'heart-outline'"
                        color="favorite" (click)="onSaveOrUnsave($event, loanTypeData.saved)"></ion-icon>
                    <a class="ui red label small" *ngIf="loanTypeData.info.status == 'Closed'">Closed</a>
                </td>
            </tr>
            <tr>
                <td>
                    <font size="2">
                        <table *ngFor="let field of fields; let j = index" class="inner-table">
                            <tr>
                                <td class="padding-right">{{field.text}}</td>
                                <td [id]="field.id + position">{{getFieldContent(field)}}</td>
                            </tr>
                        </table>
                    </font>
                </td>
                <td align="right"><i class="ui angle double right icon"></i></td>
            </tr>
        </table>
    </div>
</ion-item>