<ion-header>
    <pageHeaderMobile #pageHeaderMobile showWhen="mobile"></pageHeaderMobile>
    <pageHeader [pageTitle]="pageTitle" #pageHeader hideWhen="mobile"></pageHeader>
</ion-header>

<ion-content class="home">
    <modalMessage  [header]="messageHeader" *ngIf="messageModalShown" [actions]="actions" [active]="messageModalShown" [content]="messageContent"></modalMessage>
    <div class="ui three column stackable grid">
        <div class="column"></div>
        <div class="column">
            <h2 class="ui teal image header">
                <div class="content">
                </div>
            </h2>
            <form class="ui large form">
                <div class="ui stacked segment">

                    <font size="4"><b> Forgot Password?</b></font><br><br>

                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="userNameTxt" placeholder="User Name" [(ngModel)]="usernameInput">
                        </div>
                    </div>
                    <div class="ui red message" *ngIf="errorString">{{errorString}}</div>
                    <div class="ui green message" *ngIf="successString">{{successString}}</div>
                    <button class="ui fluid large grey button" id="sendBtn" (click)="ForgotPassword()">Send</button>
                </div>
            </form>
            <div class="ui message">
                <a (click)="redirectToLogin()">Back to Sign In</a>
            </div>
        </div>
        <div class="column"></div>
    </div>
</ion-content>